<app-sidebar></app-sidebar>
<body class="body-equip-list">
<div class="equipment-list-container">

  <!-- Filters -->
  <div class="filters">
    <input type="text" placeholder="Search by Name" (input)="applyFilter($event, 'name')">
    <input type="text" placeholder="Search by Model" (input)="applyFilter($event, 'model')">
  </div>

  <table class="equipment-table">
    <thead>
      <tr>
        <th style="background-color: #000154;">Name</th>
        <th style="background-color: #00012c;">Model</th>
        <th style="background-color: #000154;">Brand</th>
        <!-- <th style="background-color: #000154;">Total Quantity</th>
        <th style="background-color: #00012c;">Used for Project</th>
        <th style="background-color: #000154;">Remaining Quantity</th> -->
        <th style="background-color: #00012c;">QR Code</th>
        <th style="background-color: #000154;">Product Image</th>
        <th style="background-color: #00012c;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of filteredEquipmentList">
        <td>{{ equipment.name }}</td>
        <td>{{ equipment.model }}</td>
        <td>{{ equipment.brand }}</td>
        <!-- <td>{{ equipment.quantity }}</td>
        <td>{{ equipment.usedForProject }}</td>
        <td>{{ equipment.remainingQuantity }}</td> -->
        <td>
          <img [src]="equipment.qr_code" alt="QR Code" class="qr-thumbnail" (click)="openQRCodeModal(equipment.qr_code)">
        </td>
        <td>
          <img *ngIf="equipment.product_images?.length" [src]="equipment.product_images[0]" alt="Product Image" class="product-image">
          <span *ngIf="!equipment.product_images?.length">No image</span>
        </td>
        <td>
          <button (click)="editEquipment(equipment)">Edit</button>&nbsp;&nbsp;
          <button style="background-color: red;" (click)="deleteEquipment(equipment.id)">Delete</button>&nbsp;&nbsp;
          <button style="background-color: #000154;" (click)="viewEquipmentDetails(equipment.id)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- QR Code Modal -->
<div class="modal-overlay" *ngIf="isQRCodeModalOpen" (click)="closeQRCodeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>QR Code</h2>
    <img [src]="selectedQRCode" alt="QR Code" class="qr-modal-image">
    <button class="close-button" (click)="closeQRCodeModal()">Close</button>
  </div>
</div>
</body>

