<app-sidebar></app-sidebar>
<html>
    <body>
        <div class="main-content">
            <!-- Search Bar -->
            <div class="search-bar">
                <input 
                    type="text" 
                    [(ngModel)]="searchQuery" 
                    placeholder="Search products by name or code..." 
                    class="search-input"
                />
            </div>

            <p-table 
                [value]="filteredProducts()" 
                [tableStyle]="{'min-width': '50rem'}"
                styleClass="small-table"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <input type="checkbox" disabled />
                        </th>
                        <th>Image</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <input type="checkbox" disabled />
                        </td>
                        <td>
                            <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
                        </td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <input 
                                type="number" 
                                [(ngModel)]="product.quantity" 
                                min="0" 
                                max="99" 
                                class="quantity-input" 
                            />
                        </td>
                        <td>
                            <button class="view-button">View</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </body>
</html>
