<app-sidebar></app-sidebar>
<body>
  <div class="search-bar">
    <input 
      type="text" 
      [(ngModel)]="searchQuery" 
      placeholder="Search products by name or code..." 
      class="search-input"
    />
    <button class="add" (click)="openAddUserDialog()">Add User</button>
  </div>

  <div class="card">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>UID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.uid }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.email }}</td>
          <td>
            <button mat-button color="primary" (click)="editUser(product)">Edit</button>
            <button mat-button color="warn" (click)="deleteUser(product)">Delete</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  
  <ng-template #addUserDialog class="box">
    <h2 mat-dialog-title>Add User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onAddUser()" class="dialog-form">
      <div class="name-row">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </div>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
  
      <div class="actions">
        <button mat-button type="button" (click)="closeDialog()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
          Add User
        </button>
      </div>
    </form>
  </ng-template>
  
</body>
