@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Sidebar Styles */
.sidebar {
  background-color: #f4f4f4;
  color: #000000;
}

body.dark-mode .sidebar {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Floating Buttons */
.floating-btn {
  background-color: #ffffff;
  color: #000000;
  background: transparent;
}

body.dark-mode .floating-btn {
  background-color: #333333;
  color: #ffffff;
  background: transparent;
}

.profile {
      background-color: #0b2f6b;
}

body.dark-mode .profile{
    background-color: #121111;
}

.footer-item {
    background-color: #1e3a8a;
}
body.dark-mode .footer-item{
    background-color: #121111;
}